.post-form{
    gap: 40px;
}

.post-inner-container{
    padding-top: 40px;
}
.form-grid{
    display: grid;
    grid-template-columns: 2fr 130px 2fr 130px;
    max-width: 600px;
    align-items: center;
    gap: 20px;
    position: relative;
    left: -16px;
}

.form-grid>input, .form-grid>select{
    margin-left: 0;
    width: 100%;
    padding: 2px 5px;
    box-sizing: border-box;
    border: 2px solid var(--red);
    border-radius: 3px;
    background-color: transparent;
    font-size: 1rem;
}

.post-submit{
    box-sizing:content-box;

    background-color: var(--red);
    color: var(--white);
    border: 2px;
    font-size: 1rem;
    padding: 3px 50px;
    font-weight: bold;
  }